{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<br>
<br>

<body>
  {% for comm in comment[::-1] %}
  <div class="container">
    <div class="panel-groups">
      <div class="panel panel-success">
        <div class="panel-body">
          <h4 class="panel-title">{{comm.author}}</h4>
          <p class="panel-text">{{comm.comment}}.</p>
        </div>
        <div class="panel-footer bg-transparent border-success"><small class="text-muted">Publish date:{{comm.date_posted.strftime('%Y-%m-%d')}}</small></div>
      </div>
    </div>
  </div>

  {% endfor %}

  {% endblock %}
</body>